import("topGO",
       "prada")

importFrom("limma", "normalizeBetweenArrays")
importFrom("limma", "vennCounts")
importFrom("limma", "vennDiagram")
importFrom("geneplotter", "imageMap")

importFrom("biomaRt", "useMart")
importFrom("biomaRt", "useDataset")
importFrom("biomaRt", "getBM")

importFrom("splots", "plotScreen")

importFrom("car", "qqPlot")

export("createSubset",
	"indexSubset",
	"findReplicates",
	"orderGeneIDs",
	"rms",
	"trim",
	"closestToZero",
	"furthestFromZero",
	"divideChannels",
	"eraseDataSetColumn",
	"generateReplicateMat",
	"generateRepMatNoFilter",
	"summarizeReps",
	"summarizeRepsNoFiltering",
	"sumChannels",
	"generateDatasetFile",
	"joinDatasets",
	"joinDatasetFiles",
	"gseaAnalysis",
	"LiWongRank",
	"varAdjust",
	"divNorm",
	"quantileNormalization",
	"BScore",
	"ZScore",
	"ZScorePerScreen",
	"subtractBackground",
	"lowessNorm",
	"controlNorm",
	"saveDataset",
	"saveOldIntensityColumns",
	"discardLabtek",
	"discardWells",
	"channelPlot",
	"plotBar",
	"ZScorePlotTwo",
	"numCellQualControl",
	"percCellQualControl",
	"ZPRIMEQualControl",
	"SNRQualControl",
	"DRQualControl",
	"plotControlHisto",
	"plotControlHistoPerplate",
	"plotControlHistoPerscreen",
	"plotHisto",
	"plotHistoPerplate",
	"plotHistoPerscreen",
	"plotQQ",
	"plotQQperplate",
	"plotQQperscreen",
	"replicatesSpearmancor",
	"replicatesCV",
	"makeBoxplotControls",
	"makeBoxplotControlsPerPlate",
	"makeBoxplotControlsPerScreen",
	"makeBoxplotPerScreen",
	"makeBoxplotPerPlate",
	"makeBoxplot4PlateType",
	"spatialDistrib",
	"compareReplicates",
	"compareReplicaPlates",
	"compareReplicateSD",
	"compareReplicateSDPerScreen",
	"controlDensity",
	"controlDensityPerScreen",
	"controlDensityPerPlate",
	"ZScorePlot",
	"Ttest",
	"MannWhitney",
	"RankProduct",
	"multTestAdjust",
	"savepValVec",
	"incorporatepValVec",
	"hitselectionPval",
	"hitselectionZscore",
	"hitselectionZscorePval",
	"spatialDistribHits",
	"volcanoPlot",
	"vennDiag",
	"compareHits",
	"mainAnalysis",
	"rnaither"
	)
